*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', 'Helvetica', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #f3fafc;
}

/*PERSONALIZAÇÃO PADRÃO*/

.texto-cor-escuro{
    color: #0f231f;
}

.d-flex{
    display: flex;
}

.separador{
    width: 100%;
    height: 1px;
    background-color: #eff5f8;
}

.ocultar{
    display: none!important;
}

/*END PERSONALIZAÇÃO PADRÃO*/

/* MENU */
.cabecalho{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo{
    margin-left: 100px;
    font-size: 23px;
    font-family: 'Oswald', 'Helvetica';
    font-weight: 600;
    color: #1d1f20;
}

.menu{
    margin-right: 80px;
}

.menu > a{
    text-decoration: none;
    font-size: 18px;
    color: #c9d0d3;
    padding-right: 20px;
    font-weight: 400;
    transition: 0.2s opacity;
}

.menu > a:hover{
    opacity: 0.6;
}

.menu > a.active{
    color: #4b5b5a ;
}

.menu > button{
    width: 150px;
    height: 40px;
    background-color: #0f241f;
    color: #fff;
    border: 0;
    cursor: pointer;
    font-weight: 500;
    transition: 0.2s opacity;
}

.menu > button:hover{
    opacity: 0.8;
}
/* FIM DO MENU */

/* PAGINA HOME DO SITE */
.apresentacao{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 8px;
    margin-top: 80px;
    padding-bottom: 0px;
}

.apresentacao-descricao{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 70px;
}

.apresentacao--titulo{
    font-size: 55px;
}

.aprensetacao--titulo-parte2{
    font-weight: 200;
    color: #839090;
}

.apresentacao--subtitulo{
    width: 500px;
    word-wrap: break-word;
    text-overflow: ellipsis;
    position: relative;
    font-size: 22px;
    font-weight: 400;
    color: #d1dadb;
    line-height: 28px;
    margin-top: 20px;
}

.apresentacao--acoes{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.apresentacao---button-contato{
    width: 200px;
    height: 60px;
    background-color: #0a222a;
    color: #fff;
    border: 0;
    cursor: pointer;
    transition: 0.2s opacity;
    font-size: 20px;
    font-weight: 500;
}

.apresentacao---button-contato:hover{
    opacity: 0.8;
}

.apresentacao---button-amostra{
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s opacity;
    margin-right: 8px;
    font-weight: 500;
}

.apresentacao---button-amostra:hover{
    opacity: 0.8;
}

.apresentacao---button-amostra::after{
    content: '>';
    padding-left: 12px;
}

.apresentacao-imagem{
    width: 50%;
    display: flex;
    align-items: center;
}

.apresentacao-imagem > img{
    width: 560px;
}
/* FIM PAGINA HOME DO SITE */

/* PAGINA PARCEIROS DO SITE */
.parceiros{
    height: 100px;
    display: flex;
    background-color: #0a222a;
    flex-direction: row;
    align-items: center;
    overflow-x: auto;
    cursor: grab;
}

.parceiros::-webkit-scrollbar{
    display: none;
}

.parceiros-nome{
    font-size: 30px;
    position: relative;
    color: #c3cfd3;
    padding: 0 90px;
}
/* FIM PAGINA PARCEIROS DO SITE */

/* PAGINA SOBRE DO SITE */
.sobre{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 8px 80px;
    margin-top: 40px;
    padding-bottom: 0px;
}

.sobre-titulo{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.sobre-titulo-nome{
    display: flex;
    flex-direction: column;
}

.sobre-titulo-nome > p:nth-child(1){
    font-size: 18px;
    color: #c5c8c9;
    font-weight: 500;
}

.sobre-titulo-nome > p:nth-child(2){
    font-size: 38px;
    color: #263833;
    width: 400px;
    line-height: 50px;
}

.sobre-titulo-descricao{
    display: flex;
    align-items: flex-end;
}

.sobre-titulo-descricao > p{
    font-size: 16px;
    max-width: 450px;
    font-weight: 500;
    color: #d1d4d4;
    line-height: 25px;
}

.sobre-titulo-button{
    display: flex;
    align-items: flex-end;
}

.sobre-titulo-button > button{
    width: 150px;
    height: 65px;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    background-color: #0f241f;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    transition: .2s opacity;
}

.sobre-titulo-button > button:hover{
    opacity: 0.8;
}

.sobre-equipe{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 50px;
}

.sobre-equipe-caixa{
    width: 31%;
    height: 310px;
    background-color: #cfecf4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

.sobre-equipe-caixa > img{
    width: 180px;
    height: 180px;
    border-radius: 100%;
    /* padding-top: 20px; */
    margin-top: 20px;
}

.sobre-equipe-caixa-info{
    width: 100%;
    height: 150px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.sobre-equipe-caixa-info > p{
    font-size: 24px;
    color: #2d4444;
    font-weight: 600;
    line-height: 30px;
    width: 100px;
    margin-left: 20px;
    margin-top: -10px;

}

.sobre---button{
    display: flex;
    align-items: flex-end;
}

.sobre---button > button{
    width: 60px;
    height: 65px;
    background-color: #0f241f;
    border: 0;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    transition: 0.2s opacity;
    
    font-size: 35px;
    font-weight: 300;
}

.sobre---button > button:hover{
    opacity: 0.8;
}

/* FIM PAGINA SOBRE DO SITE */

/* RODAPE DO SITE */
footer{
    background-color: #0a222a;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 50px 90px;
    margin-top: 30px;
}

.footer-cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: thin solid #122a32;
    padding-bottom: 40px;
}

.footer-cabecalho-titulo{
    display: flex;
    align-items: center;
    font-size: 26px;
    color: #5d767e;
    font-weight: 500;
}

.footer-cabecalho-acoes{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-cabecalho-acoes > span{
    font-size: 20px;
    color: #a3aeb0;
    font-weight: 500;
    margin-right: 20px;
}

.footer-cabecalho-acoes-button{
    width: 180px;
    height: 50px;
    border-radius: 0;
    border: 0;
    font-size: 18px;
    background-color: #cfecf4;
    cursor: pointer;
    transition: 0.2s opacity;
    color: rgba(0, 0, 0, 0.8);
}
.footer-cabecalho-acoes-button:hover{
    opacity: 0.8;
}

.footer-corpo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 40px;
}

.footer-inscricao{
    display: flex;
    flex-direction: column;
}

.footer-inscricao > p{
    width: 200px;
    font-size: 22px;
    font-weight: 400;
    color: #889799;
}

.footer-input-group{
    width: 300px;
    margin-top: 30px;
    display: flex;
}

.footer-input-control{
    width: 100%;
    height: 45px;
    padding: 8px;
    font-size: 19px;
    background-color: #132a32;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none !important;
    border: 2px solid #193038;
    color: rgba(255, 255, 255, 0.7);
}

.footer-input-control::-webkit-input-placeholder { /* Edge */
    color: #50636a;
}
  
.footer-input-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #50636a;
}

.footer-input-control::placeholder {
    color: #50636a;
}

.footer-input-control:focus{
    outline: none;
}

.icon{
  padding: 11px;
  padding-bottom: 8px;
  background: #cfecf4;
  color: black;
  border-left: none!important;
  border: 2px solid #193038;
  min-width: 50px;
  text-align: center;
  font-family: "Helvetica";
  font-weight: bolder;
  cursor: pointer;
}

.icon > img{
    width: 18px;
}

.footer-inscricao-popup{
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 2000;
    width: 400px;
    height: 300px;
    background-color: #cfecf4;
    padding: 10px;
}

.footer-popup-cabecalho{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.footer-popup-close{
    width: 50px;
    height: 50px;
    background-color: #0a222a;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    color: #cfecf4;
    cursor: pointer;
    transition: 0.2s opacity;
}

.footer-popup-close:hover{
    opacity: 0.8;
}

.footer-popup-cabecalho > h3{
    font-size: 26px;
    font-weight: 500;
    color: #0a222a;
    text-align: center;
    margin-top: 20px;
    margin-left: 8px;
}

.footer-membros{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.footer-membros-titulo{
    font-size: 18px;
    margin-left: 10px;
    font-weight: 500;
    color: #a3aeb0;
}

.footer--membro{
    display: flex;
    width: 100%;
    height: 40px;
    align-items: center;
    margin-top: 18px;
}

.footer--membro-avatar{
    width: 50px;
    height: 50px;
    background: #0a222a;
    border-radius: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
}

.footer--membro-nome{
    font-size: 20px;
    font-weight:500;
}

.footer-menus{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

.footer-menus-links{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.footer-menus-links > h4{
    font-size: 22px;
    color: #7f99a2;
    font-weight: 400;
}

.footer-menus-links > a{
    text-decoration: none;
    color: #43585e;
    margin-top: 19px;
    transition: 0.2s opacity;
}

.footer-menus-links > a:hover{
    opacity: 0.8;
}

.footer-contatos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-contatos-sociais{
    display: flex;
}

.icone-social{
    width: 20px;
    margin-right: 20px;
}

.footer-contatos-contrato{
    display: flex;
}

.footer-contatos-contrato > a{
    font-size: 16px;
    color: #9ba8ad;
    padding-left: 35px;
    text-decoration: none;
    transition: 0.2s opacity;
}

.footer-contatos-contrato > a:hover{
    opacity: 0.8;
}